<div class="flex  justify-center text-center w-11/12 h-auto  mb-12 ">
    <table  class=" w-full h-auto" >
        <caption class="caption-top my-7">
          List of products
          </caption>
        <thead class="bg-slate-400  ">
            <tr>
                <td>Product Name</td>
                <td>Image</td>
                <td>Brand</td>
                <td>Made</td>
                <td>Price</td>
                <td>Modify </td>
            </tr>
        </thead>
        <tbody >
            <tr *ngFor="let item of objectarray " class=" border-2 border-gray-100 w-full rounded-lg">
                <td>{{item.productname}}</td>
                <td><img src={{item.productpic}} class="h-20 w-27 align-middle"></td>
                <td>{{item.productbrand}}</td>
                <td>{{item.productmakeyear}}</td>
                <td>${{item.productprice}}</td>
                <td >
                        <fa-icon class="ms-4 hover:opacity-50 rounded-xl" [icon]="faedit" (click)='getproductbyid(item.id)'></fa-icon>
                    <fa-icon class="ms-4 hover:opacity-50 rounded-xl" [icon]="fadelete" (click)='deleteproduct(item.id)'></fa-icon>
                </td>
            </tr>
        </tbody>
    </table>
</div>