<div >
    <div class="flex  justify-center p-2 fixed h-screen bg-slate-400 ">
        <div class="  flex flex-col items-start  mt-8 ">
            <h2 class="text-2xl mt-4 font-bold text-gray-900 ">ADMIN PANEL </h2>
            <hr> 
            <div class="flex flex-row items-baseline  w-full gap-2 justify-start ">
                <!-- <img [src]="dashboardimg" class=" object-cover h-5 w-5 "> -->
                <fa-icon [icon]="faDashboard" class=""></fa-icon>
                <h3 class="">Dashboard</h3>
            </div>
            <div class="flex flex-row items-baseline  w-full gap-2 justify-start hover:opacity-60">
                <fa-icon [icon]="faproduct"></fa-icon>
                <a routerLink="/admin/addproduct">
                    <h3>Add Product</h3>
                </a>
            </div>
            <div class="flex flex-row items-baseline  w-full gap-2 justify-start hover:opacity-60">
                <fa-icon [icon]="fasetting"></fa-icon>
                <a routerLink="/admin/editproduct">
                    <h3>Edit Product</h3>
                </a>
            </div>
            <div class="flex flex-row items-baseline  w-full gap-2 justify-start hover:opacity-60">
                <fa-icon [icon]="falist"></fa-icon>
                <a routerLink="/admin/userlist">
                    <h3>Users List</h3>
                </a>
            </div>
            <div class="flex flex-row items-baseline  w-full gap-2 justify-start hover:opacity-60">
                <fa-icon ></fa-icon>
                <a routerLink="/admin/deleteproduct">
                    <h3>Delete Product</h3>
                </a>
            </div>
            
            
        </div>

    </div>

</div>
