
        <mat-dialog-content >
            <div class="flex flex-col items-center h-300 ">

                <button class="self-end text-red-600" mat-dialog-close="close">X</button>
                
                <div class="flex  flex-row   w-full h-full justify-center gap-2 items-center bg-white rounded-2xl border"> 
                    <img class="h-80 w-100" src={{this.productpic}} alt="Product Name">
                    <div class=" flex flex-col ">
                        <p class="text-3xl text-gray-600 font-bold "> {{this.productname}}</p>
                        <span class="text-orange-500 text-sm font-semibold  ">{{this.productmake}}</span>
                        <span class="text-black  ">Stock: {{this.productstock}}</span>
                        <div class="text-black flex gap-2 items-baseline">
                                Available in :
                                <div *ngIf="this.colorred" class="w-3 h-3 bg-red-600 rounded-2xl" ></div>
                                <div *ngIf="this.colorblack" class="w-3 h-3 bg-black rounded-2xl"></div>
                                <div *ngIf="this.colorblue" class="w-3 h-3 bg-blue-700 rounded-2xl border"></div>
                                <div *ngIf="this.colorwhite" class="w-3 h-3 bg-white rounded-2xl border-2"></div>
                                <div *ngIf="this.colorgray" class="w-3 h-3 bg-gray-400 rounded-2xl border"></div>
                        </div>
                        <div class="text-black   mb-2 border p-2 border-gray-400 rounded-xl h-32">  {{this.productdescriptions}}</div>
                        <span class="text-green-500 text-2xl font-bold ">$ {{this.productprice}}</span>
                    </div>
                </div>
                
            </div>
        </mat-dialog-content>