    <!-- <div class="flex flex-col px-2 py-4 items-center  text-center gap-2 w-11/12 h-auto" >
        <span class="text-center">Order Request</span>
        <div *ngFor="let item of confirmdata" 
         class=" flex  justify-between align-middle items-center w-full border-2  text-sm border-gray-100  rounded-lg">
        <form  [formGroup]="productForm" (ngSubmit)='changestatus(item.id)'>

            <img src={{item.productimg}} class="h-15 w-20 align-middle">
            <div class=" flex flex-col items- w-8/12 text-start">
                        <h2>{{item.productname}}</h2>
                        <div class="flex gap-4">
                            <span> Name:{{item.name}}</span>
                            <span>Brand:{{item.productbrand}}</span>
                            <span> Quantity:{{item.quantity}}</span>
                            <span >Color:
                                <span *ngIf="item.colorwhite">White</span>
                                <span *ngIf="item.colorblack">Black</span>
                                <span *ngIf="item.colorred">Red</span>
                                <span *ngIf="item.colorblue">Blue</span>
                            </span>
                        </div>
                        <div class="flex gap-2 justify-start">
                            Contact: <span class="text-green-400">{{item.contactnumber}}</span>
                            Address: <span class="text-green-400">{{item.deliveryaddress}}</span>
                            Total:   <span class="text-green-400">$ {{item.grandtotal}}</span>
                        </div>
                    </div>
                <div  class="me-4">
                    <div class="flex flex-col">
                        <label>Order Status:</label>
                           <select  class="border " formControlName="orderstatus" >
                               <option value="request">Request</option>
                               <option value="processing">Processing</option>
                               <option value="delivered">Delivered</option>
                               
                            </select>
                       </div>
                     <label>Deliverd</label>
                    <input  type="checkbox"  class="mt-4 p-2  bg-green-400 rounded-lg shadow-inner " formControlName="request"> -->
                    <!-- <input  type="checkbox" value="processing " class="mt-4 p-2  bg-green-400 rounded-lg shadow-inner " formControlName="orderstatus">
                    <input  type="checkbox" value="Delivered " class="mt-4 p-2  bg-green-400 rounded-lg shadow-inner " formControlName="orderstatus"> -->
                    <!-- <span *ngSwitchCase="'order'" class=" shadow-md font-bold text-red-600"  > Order Request</span>
                        <span *ngSwitchCase="'process'" class="text-green-400 shadow-md font-bold " ></span>Processing
                        <input  type="button" value=" processing" class="mt-4 p-2  bg-green-400 rounded-lg shadow-inner ">
                        <span *ngSwitchCase="'delivered'" class=" font-bold text-blue-600">Delivered</span>
                        <input  type="button" value=" Delivered" class="mt-4 p-2  bg-green-400 rounded-lg shadow-inner ">
                        <span *ngSwitchDefault >Error</span> -->
                    <!-- </div>
                    <input  type="submit" value="Process" class="mt-4 p-2  bg-green-400 rounded-lg shadow-inner "> -->
                <!-- <input  type="submit" value="ok" class="mt-4 p-2  bg-green-400 rounded-lg shadow-inner "> -->
            <!-- </form>
        </div>
        </div> -->
    
        <div class="flex   flex-col-reverse px-2 py-4 items-center text-center gap-2 w-11/12 h-auto">
         
            
            <div *ngFor="let item of confirmdata" class="flex  align-middle items-center w-full border-2 text-sm border-gray-100 rounded-lg">
              <form [formGroup]="productForm" (ngSubmit)="changestatus(item.id)" class="flex w-full justify-start m-2">
          
                <img [src]="item.productimg" class="h-15 w-20 align-middle ">
                <div class="flex flex-col gap-2 items-start w-6/12 text-start">
                  <h2>{{ item.productname }}</h2>
                  <div class="flex gap-4">
                    <span>Name: {{ item.name }}</span>
                    <span>Brand: {{ item.productbrand }}</span>
                    <span>Quantity: {{ item.quantity }}</span>
                    <span>Color:
                      <ng-container *ngIf="item.colorwhite">White</ng-container>
                      <ng-container *ngIf="item.colorblack">Black</ng-container>
                      <ng-container *ngIf="item.colorred">Red</ng-container>
                      <ng-container *ngIf="item.colorblue">Blue</ng-container>
                    </span>
                  </div>
                  <div class="flex gap-2 justify-start">
                    Contact: <span class="text-green-400">{{ item.contactnumber }}</span>
                    Address: <span class="text-green-400">{{ item.deliveryaddress }}</span>
                    Total: <span class="text-green-400">$ {{ item.grandtotal }}</span>
                  </div>
                
                  </div>
                <div class="w-3/12 flex items-center justify-between me-4">
                  <label>Order Status:{{item.orderstatus}}</label>
                      
                  <input type="submit" value="Delivered"  class="mt-4 p-2 bg-green-400 rounded-lg shadow-inner">
                  

                </div>
              </form>
            </div>
            <span class="text-center">Order Request</span>
          </div>
          